body {
    font-family:Helvetica, san-serif;
    margin:0;
    padding:0;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}

h2 {
    background:linear-gradient(#FF79BC, #FD419D);
    color:#fff;
    font-size:18px;
    margin:0;
    padding:12px;
}

h3 {
    font-size:16px;
    margin:0;
    padding:0;
}

a {
    text-decoration:none;
}

ul {
    list-style:none;
    margin:0;
    padding:0;
}

.none {
    display:none;
}
.overlay {
    visibility:hidden;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:0;
    z-index:10000;
    transition:all .5s ease;
}
nav.slide-menu {
    position:fixed;
    top:0;
    left:0;
    width:300px;
    height:100%;
    background:#FEF0F7;
    z-index:11000;
    transition:all .5s ease;
    transform:translate3d(-300px, 0, 0);
}
.open .overlay {
    visibility:visible;
    opacity:0.7;
}
.open .overlay:after {
    content:'×';
    font-size:48px;
    position:fixed;
    top:0;
    right:24px;
    color:#fff;
}
.open nav.slide-menu {
    transform:translate3d(0, 0, 0);
}

.icon-home,
.icon-item,
.icon-mypage,
.icon-cart,
.icon-ranking,
.icon-pickup,
.icon-menu {
    fill:#4B4B4B;
}

.bg-base {
    background:#FEF0F7;
}

header.t1 {
    background:#FF96CD;
}
header.t1 nav {
    padding:10px 0;
}
header.t1 nav ul {
    border-collapse:separate;
    border-spacing:6px 0;
    display:table;
    width:100%;
}
header.t1 nav ul li {
    background:linear-gradient(#FF79BC, #FD419D);
    border-radius:12px;
    display:table-cell;
    height:60px;
    margin:0;
    padding:6px;
    text-align:center;
    vertical-align:middle;
    width:25%;
}
header.t1 nav ul li a {
    color:#fff;
    font-size:14px;
}

header.t2 {
    background:#FF96CD;
    display:table;
    width:100%;
}
header.t2 div.menu {
    display:table-cell;
    vertical-align:middle;
}
header.t2 div.menu a.mg {
    margin:0 0 0 14px;
}
header.t2 div.logo {
    display:table-cell;
    height:42px;
    vertical-align:middle;
}
header.t2 div.logo a {
    background:#cfc;
    display:table-cell;
    height:42px;
    padding:0 12px;
    vertical-align:middle;
}
header.t2 nav.person {
    display:table-cell;
    text-align:right;
    vertical-align:middle;
}
header.t2 nav.person ul {
}
header.t2 nav.person ul li {
    display:inline-block;
    margin:4px 12px;
    vertical-align:bottom;
}
header.t2 nav.person ul li a {
    display:table-cell;
    height:42px;
    vertical-align:middle;
}
header.t2 nav.slide-menu {
    overflow:auto;
}
header.t2 nav.slide-menu ul li {
    border-bottom:1px solid #ddd;
}
header.t2 nav.slide-menu ul li a {
    display:block;
    padding:12px 12px;
}


footer nav {
    margin:12px 0 24px 0;
}
footer nav ul {
    margin:0 20px;
}
footer nav ul li {
    border-left:1px solid #000;
    border-right:1px solid #000;
    border-bottom:1px solid #000;
    background:#fafafa;
}
footer nav ul li:first-child {
    border-top:1px solid #000;
    border-radius:6px 6px 0 0;
}
footer nav ul li:last-child {
    border-radius:0 0 6px 6px;
}
footer nav ul li a {
    display:block;
    padding:12px;
    color:#333;
}

footer p.top-anchor {
    text-align:right;
    padding-right:5%;
    font-size:12px;
}

footer div.bottom {
    margin-top:12px;
    padding:12px 0;
    background:#FEF0F7;
}
footer p.copyright {
    margin:0;
    text-align:center;
    font-size:12px;
}


.main-img img {
    width:100%;
    vertical-align:bottom;
}

ul.items {
}
ul.items li {
    border-bottom:1px solid #ddd;
}
ul.items a {
    display:table;
    color:#333;
    font-size:12px;
    font-weight:bold;
}
ul.items div.img,
ul.items div.info {
    display:table-cell;
}
ul.items div.img {
    vertical-align:middle;
}
ul.items div.info {
    width:100%;
    padding:6px 6px 6px 0;
}
ul.items div.img img {
    margin:6px;
    vertical-align:bottom;
    float:left;
    width:90px;
}
.price {
}

ul.items2 {
    display:flex;
    flex-wrap:wrap;
}
ul.items2 li {
    width:50%;
    margin:12px 0;
}
@media screen and (min-width:480px) {
    ul.items2 li {
        width:25%;
    }
}
ul.items2 a {
    color:#333;
    font-size:12px;
    font-weight:bold;
}
ul.items2 div.img {
    text-align:center;
}
ul.items2 div.info {
}
ul.items2 div.img {
    vertical-align:middle;
}
ul.items2 div.info {
    padding:6px 12px;
}
ul.items2 div.img img {
    margin:6px;
    vertical-align:bottom;
    width:90px;
}


.breadcrumb {
    padding:6px 12px;
    font-size:12px;
    border-bottom:1px solid #8f8f8f;
}

.search-options {
    background:#FEF0F7;
    padding:12px;
}
.search-options .sort {
    background:#fff;
    border:1px solid #333;
    border-radius:6px;
    font-size:14px;
    padding:6px 12px;
}
.search-options .sort:after {
    content:"▼";
    margin-left:12px;
}

.page-info {
    background:#FEF0F7;
    padding:0 12px;
    font-size:12px;
    text-align:right;
    border-bottom:1px solid #ddd;
}

.pagenation {
    display:table;
    width:90%;
    margin:12px 5%;
}
.pagenation .prev,
.pagenation .next,
.pagenation .line {
    display:table-cell;
    background:linear-gradient(#FF79BC, #FD419D);
    text-align:center;
    vertical-align:middle;
    font-size:12px;
    font-weight:bold;
    color:#fff;
    height:30px;
}
.pagenation .prev {
    border-radius:6px 0 0 6px;
}
.pagenation .next {
    border-radius:0 6px 6px 0;
}
.pagenation .line {
    background:#fff;
    width:2px;
}
.pagenation a {
    color:#fff;
}
.pagenation .l-none {
    background:linear-gradient(#dfdfdf, #bbb);
}

.package {
    text-align:center;
    margin:12px;
}
.package img {
    vertical-align:bottom;
    width:90%;
    margin:0 auto;
}


.purchase {
    background:#FEF0F7;
    padding:12px;
}
.purchase .price-info {
    background:#fff;
    border:1px solid #ccc;
    margin-bottom:12px;
    text-align:center;
}
.purchase .btn-cart {
    background:linear-gradient(#AAD460, #82C116);
    border-radius:6px;
}
.purchase .btn-cart a {
    display:block;
    color:#fff;
    text-align:center;
    line-height:30px;
}

.comment,
.information {
    margin:12px;
    padding:6px;
    border:1px solid #ccc;
    border-radius:6px;
}

.comment p {
    font-size:12px;
}

.information .box {
    display:table;
    width:100%;
    margin:6px 0;
}
.information .box span {
    display:table-cell;
    font-size:12px;
}
.information .box span.title {
    font-weight:bold;
    width:30%;
}

.slider .item {
    padding:12px 6px;
}
.slider .item a {
    display:block;
    font-size:12px;
    color:#000;
    padding:6px;
}
.slider .item .ranking {
    text-align:center;
}
.slider .item div.img {
    text-align:center;
    margin-bottom:6px;
}
.slider .item div.img img {
    vertical-align:bottom;
    width:100%;
}
.slider .item div.info {
    font-weight:bold;
}
