body {
    font-family:Helvetica, san-serif;
    padding:0;
    margin:0;
    min-width:800px;
}

h2 {
    margin:0;
    padding:0;
    font-size:16px;
}

h3 {
    padding:0;
    margin:0;
    font-size:16px;
}

a {
    text-decoration:none;
    color:#000;
}

ul {
    list-style:none;
    padding:0;
    margin:0;
}

header {
    background:#FF96CD;
#    border-bottom:2px solid #f39;
    margin-bottom:12px;
}
header div.logo {
    float:left;
    display:inline-block;
    margin:4px 12px;
    height:42px;
}
header div.logo a {
    display:table-cell;
    padding:0 12px;
    height:42px;
    vertical-align:middle;
    background:#cfc;
}
header nav {
    text-align:right;
}
header nav ul {
    margin:0 30px 0 0;
}
header nav ul li {
    display:inline-block;
    vertical-align:bottom;
    margin:4px 12px;
}
header nav ul li a {
    display:table-cell;
    vertical-align:middle;
    height:42px;
}

footer nav {
    text-align:center;
    border-top:2px solid #f39;
    padding:12px 0 0 0;
}
footer nav ul {
}
footer nav ul li {
    display:inline-block;
    margin:0 12px;
    font-size:12px;
}
footer p.top-anchor {
    text-align:right;
    padding-right:2%;
    font-size:12px;
}
footer div.bottom {
    margin-top:12px;
    padding:12px 0;
    background:#FEF0F7;
}
footer p.copyright {
    margin:0;
    text-align:center;
    font-size:12px;
}

article {
    display:flex;
}
article div.left-container {
    width:240px;
}
article div.right-container {
    width:240px;
}
article div.left-container nav {
    margin:0px 10px;
}
article div.left-container nav h2 {
    border-bottom:3px solid #f39
}
article div.left-container nav ul {
}
article div.left-container nav ul li {
}
article div.left-container nav ul li a {
    background:#FEF0F7;
    display:block;
    padding:3px 6px;
}
article div.left-container nav ul li a:hover {
    background:#fff;
}
article div.left-container nav ul li a:before {
    content:"*";
    margin-right:6px;
}
article div.main-container {
    width:100%;
}
article div.main-container section {
    margin:0 12px 30px 12px;
}
article div.main-container section h2 {
    background:#f39;
    border-radius:6px;
    color:#fff;
    padding:2px 6px;
}

article:after {
    content:"";
    display:block;
    clear:both;
}

div.items {
    display:flex;
    flex-wrap:wrap;
}
div.item {
    width:120px;
    margin:12px;
    font-size:12px;
}
div.item div.img {
    margin:6px;
    text-align:center;
}
div.item div.img img {
    vertical-align:bottom;
}
div.item div.info {
    padding:0 12px;
}
div.item div.info a:hover {
    text-decoration:underline;
}

.breadcrumb {
    border-bottom:3px solid #f39;
    margin:0 12px;
    font-size:16px;
    font-weight:bold;
    line-height:1.5;
}

.search-options {
    margin:6px 12px;
}
.search-options div.sort {
    margin-left:6px;
}
.search-options div.sort span:after {
    content:" | ";
    margin-left:2px;
    font-size:12px;
}
.search-options div.sort span:last-child:after {
    content:none;
}
.search-options div.sort span a {
    color:#f39;
    font-size:12px;
}
.search-options div.sort span.selected a {
    color:#000;
    font-weight:bold;
}

.pagenation {
    text-align:center;
    margin:3px 12px;
}
.pagenation span {
    display:inline-block;
}
.pagenation span a {
    display:block;
    margin:0 2px 0 0;
    padding:0 4px;
    border:1px solid #f39;
    background:#f39;
    color:#fff;
    min-width:22px;
    font-size:12px;
    line-height:1.5em;
}
.pagenation span a:hover {
    background:#fff;
    color:#f39;
}
.pagenation span.selected a {
    background:#fff;
    color:#000;
    font-weight:bold;
}
.pagenation span p {
    margin:0 2px 0 0;
    padding:0 4px;
    font-size:12px;
    line-height:1.5em;
}

.content-box {
    margin:12px 0;
    display:flex;
}
.content-box .left-box {
    width:100%;
}
.content-box .right-box {
    min-width:200px;
}

.package {
    text-align:center;
}
.package .main img {
    vertical-align:bottom;
    width:300px;
    margin:0 auto;
}
.package .thumbnail {
    display:flex;
    flex-wrap:wrap;
    margin-top:12px;
}
.package .thumbnail img {
    vertical-align:bottom;
    width:40px;
    margin:6px;
    cursor:pointer;
}


.purchase {
    border:1px solid #ccc;
    padding:12px;
}
.purchase .price-info {
    border:1px solid #ccc;
    margin-bottom:12px;
    text-align:center;
}
.purchase .btn-cart {
    background:linear-gradient(#AAD460, #82C116);
    border-radius:6px;
}
.purchase .btn-cart a {
    display:block;
    color:#fff;
    text-align:center;
    line-height:30px;
}

.sns {
    margin:12px 0;
}
.sns ul {
}
.sns ul li {
    display:inline-block;
}
.icon-twitter1 {
    fill:#1DA1F2;
}
.icon-twitter2 {
    fill:#FFFFFF;
}


.comment,
.information {
    margin:12px;
    padding:6px;
    border:1px solid #ccc;
    border-radius:6px;
}

.comment p {
    font-size:12px;
}

.information .box {
    display:table;
    width:100%;
    margin:6px 0;
}
.information .box span {
    display:table-cell;
    font-size:12px;
}
.information .box span.title {
    font-weight:bold;
    width:30%;
}
